* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    display: flex;
    position: relative;
    width: 100%;
}

a {
    text-decoration: none;
}

/***** INDEX PAGE START *****/
/* Sidebar Start */
.sidebar>div>i {
    font-size: 28px;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    height: 100vh;
    padding: 0 0.6rem;
    color: #fff;
    font-weight: 600;
    overflow-x: hidden;
    transition: left 0.3s ease;
    background-color: #2f4050;
    z-index: 999;
}

.sidebar>div>ul>li:first-child>div>span>img {
    border-radius: 45% 55%;
    height: 48px;
    max-width: 100% !important;
}

.logo {
    height: 80px;
    padding: 3px;
}

.profile-element>a>span>span:last-child {
    color: #bbbbbb;
}

.sidebar>div>ul {
    position: relative;
    list-style: none;
    padding: 0;
}

.sidebar>div>ul>li {
    padding: 0.9rem;
    margin: 8px auto;
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
}

.sidebar>div>ul>li:not(:first-child):hover {
    background: #8f8f8f;
}

.sidebar>div>ul>li>div>a {
    color: #fff;
    cursor: auto;
    text-decoration: none;
}

.sidebar>div>ul>li>a {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.sidebar>div>ul>li>a>i {
    font-size: 1.2rem;
}
#close {
    display: none;
    font-size: 22px;
    color: #fff;
}
/* Sidebar end */
/* Maincontent start */
.main-content {
    margin-left: 20%;
    width: 100%;
    transition: margin-left 0.3s ease;
}

.main-wrapper {
    background-color: #fff;
    margin: 0;
    padding: 20px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
}

.main-wrapper>div>div:first-child>i {
    font-size: 22px;
    display: none;
}

.revenue-each {
    background-color: #e5e7eb;
    padding: 20px 10px;
    border-radius: 6px;
    margin-top: 10px;
}

.revenue-each>a>div>i {
    font-size: 25px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    /* background-color: #7b74ec; */
}

.color-1 {
    background-color: #7b74ec;
}

.color-2{
    background-color: #454545;
}

.color-3 {
    background-color: #e45d99;
}

.color-4 {
    background-color: #74daec;
}

.revenue-each>a>div>div>h5 {
    font-size: 18px;
    color: #2f4050;
}

.revenue-each>a>div>div>span {
    font-size: 14px;
    color: #2f4050;
}

.sponsor-service,
.discounted-service {
    margin-top: 10px;
}

.revenue-each:hover,
.sponsor-service:hover,
.discounted-service:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

footer>span>span {
    font-weight: 700;
}


@media (max-width:1050px) {
    .sidebar {
        position: fixed;
        left: -300px;
        transition: 0.4s;
        width: 250px;
    }

    .sidebar.active {
        left: 0px;
    }

    .main-content {
        margin-left: 0%;
    }

    .main-wrapper>div>div:first-child>i {
        display: block;
    }

    #close {
        display: block;
    }
}

@media (max-width:490px) {
    .main-wrapper>div>div:first-child>i,
    #close,
    .main-wrapper>div>div:last-child>img,
    .main-wrapper>div>div:last-child>span,
    .main-wrapper>div>div:last-child>div>i,
    .main-wrapper>div>div:last-child>div>span,
    .main-wrapper>div>div:last-child>div>a {
        font-size: 12px;
    }

    .sidebar {
        width: 230px;
    }
}

